@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-number: 'IBM Plex Mono', monospace;
}

:root {
  --bg-color: #eee;
  --grid-item-translate: 0px;
  --grid-width: 100%;
  --grid-max-width: 1200px;
  --grid-item-ratio: 0.7;
  --grid-item-radius: 0;
  --grid-gap: 1.5vw;
  --grid-columns: 4;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scrollbar-gutter: both-edges; /* Ensure space for scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #4a5568 var(--bg-color); /* Custom scrollbar colors for Firefox */
}

body {
  background-color: var(
    --bg-color
  ); /* Ensure body has a default background color */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
